.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.width100 {
    width: 100%;
}

.leftJustify {
    text-align: left;
}
  
/* Style for the right-justified text */
.rightJustify {
    text-align: right;
}